@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

.container-center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

a.external svg {
  width: 0.75em;
  height: 0.75em;
  vertical-align: baseline;
}

button.btn-icon {
  padding: 0.5em 0.65em;
  line-height: 1;
}

button.btn-icon:focus {
  outline: none !important;
  box-shadow: none !important;
}

button.btn-icon svg {
  width: 1.1em;
  height: 1.1em;
  vertical-align: middle;
}

.btn-icon.btn-like {
  width: 3em;
  height: 3em;
  border-radius: 50% !important;
  box-shadow: 0 0 5px rgb(0, 0, 0, 50%);
}

.offcanvas {
  margin: 0.35rem !important;
  border-radius: 0.25rem !important;
}

.offcanvas-start,
.offcanvas-end {
  width: 250px !important;
}

.offcanvas-title {
  font-weight: 700 !important;
}

.cover-image {
  aspect-ratio: 1/1;
  max-width: 100%;
  height: auto;
  box-shadow: 0 0 10px rgb(0 0 0 / 5%);
  padding: 0.35rem !important;
}

.active {
  color: #333 !important;
  font-weight: bold;
}

.nav-link {
  display: inline-block !important;
  border-radius: 0.35em;
}

.nav-link:hover {
  background-color: #d9dafc;
}

.overlay-bottom-left {
  bottom: 0;
  left: 0;
}

.overlay-bottom-center {
  bottom: 0;
  left: 35%;
}

.overlay-bottom-right {
  bottom: 0;
  right: 0;
}

.overlay-top-right {
  top: 0;
  right: 0;
}

.album-card {
  max-width: 480px;
  width: 100%;
  height: auto;
}

.album-card-placeholder {
  width: 480px;
}
