.title {
  margin: 2rem 0 3rem;
}

.title h1 {
  font-size: 1.8rem;
  font-weight: 700;
}

.form {
  margin-bottom: 2rem;
}

.controls {
  margin-bottom: 4rem;
}

.footer p {
  font-size: 0.8rem;
}

.spinner {
  width: 1.7rem;
  height: 1.7rem;
  margin-right: 1rem;
  border: 0.3rem solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
