.container {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  flex-direction: column;
}

.notCentered {
  padding-top: 11vh;
}

.main {
  margin: auto 0;
}

.noScroll {
  overflow: hidden;
}

.navbar {
  margin: 0.3rem 0.4rem 0;
  padding: 0.5rem;
  border-radius: 2px;
  box-shadow: 0 0 10px rgb(0 0 0 / 5%);
}
