.container {
  background-color: #ffffff;
  padding: 1rem;
  margin: 0 auto;
  box-shadow: 0 0 10px rgb(0 0 0 / 5%);
}

.title {
  margin-bottom: 1rem;
}

.titleText {
  font-weight: bold;
}

.titleIcon {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  vertical-align: middle;
}
