.offcanvas {
  margin: 0.35rem;
  border-radius: 0.25rem;

  &:global(.offcanvas-start),
  &:global(.offcanvas-end) {
    width: 250px;
    padding-bottom: 2rem;

    .offcanvas-body {
      padding: 0 1rem !important;
    }
  }

  &:global(.offcanvas-bottom) {
    height: auto;
    max-height: 70vh;
    padding-bottom: 1rem;
  }

  :global(.active) {
    color: #333 !important;
    font-weight: bold;
  }

  :global(.nav-link) {
    display: inline-block !important;
    border-radius: 0.35em;
  }
  :global(.nav-link:hover) {
    background-color: #d9dafc;
  }
}

.title {
  font-weight: 700 !important;
}
